Repository kitabisa/composite-actions, changes with the owners that CODEOWNERS names for each.
All owners: @kitabisa/system-squad, @adeherysh, @sswastioyono18, @mananrangkuti

test: debug
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: debug
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: debug
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: debug
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

chore: modify steps for parse env
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
  sdet/tools/env/README.md
  sdet/tools/env/action.yaml
Owners: @mananrangkuti

fix: miss call variable
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: setup
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: using switch case instead of if else for condition parse env
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: uncommand code
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

feat: update taskfile grant mysql user
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

fix(backend): Restore cache key on backend refesh cache
  backend/cache/action.yaml
Owners: @sswastioyono18

feat: tidy up use workload identity
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

feat: tidy up use workload identity
  infra/tools/taskfile/action.yaml
Owners: @kitabisa/system-squad

Feat/apply workload identity (#179)
  infra/deploy/terragrunt/action.yaml
  infra/tools/taskfile/Taskfile.yaml
  infra/tools/taskfile/action.yaml
Owners: @kitabisa/system-squad

feat: tidy up use workload identity
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

feat: tidy up use workload identity (#180)
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

fix warning inputs on terragrunt
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

fix: warning inputs on terragrunt
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

fix warning inputs on terragrunt (#182)
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

fix: warning inputs on terragrunt
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

fix: warning inputs on terragrunt (#183)
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

chore: remove unused steps
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: debug env var for parse
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: update using github env instead of env
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: warning inputs on taskfile
  infra/tools/taskfile/action.yaml
Owners: @kitabisa/system-squad

fix: warning inputs on taskfile (#185)
  infra/tools/taskfile/action.yaml
Owners: @kitabisa/system-squad

feat: update restore cache
  backend/build/action.yaml
Owners: @sswastioyono18

fix(backend): Setup tools for prevent big cache
  backend/tools/setuptools/action.yaml
Owners: @sswastioyono18

fix(backend): Restore cache key on backend refesh cache (#178)
  backend/build/action.yaml
  backend/cache/action.yaml
  backend/tools/setuptools/action.yaml
Owners: @sswastioyono18

feat: added suffix cache
  backend/build/action.yaml
  backend/cache/action.yaml
  backend/coverage/action.yaml
  backend/unit_test/action.yaml
Owners: @sswastioyono18

feat: added suffix cache (#188)
  backend/build/action.yaml
  backend/cache/action.yaml
  backend/coverage/action.yaml
  backend/unit_test/action.yaml
Owners: @sswastioyono18

fix: composite artifact registry gke creds set to false
  infra/tools/artifact-registry/action.yaml
Owners: @kitabisa/system-squad

fix: composite artifact registry gke creds set to false (#190)
  infra/tools/artifact-registry/action.yaml
Owners: @kitabisa/system-squad

ci: update variabel
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: fix frontend cache
  frontend/tools/pnpm/action.yaml
  frontend/tools/yarn/action.yaml
Owners: @adeherysh

fix: fix frontend cache (#192)
  frontend/tools/pnpm/action.yaml
  frontend/tools/yarn/action.yaml
Owners: @adeherysh

test: setup
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: debug
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: debug
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: debug
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

CODEOWNERS:

* @kitabisa/system-squad
frontend @adeherysh
backend @sswastioyono18
sdet @mananrangkuti
