Repository kitabisa/composite-actions, changes with the owners that CODEOWNERS names for each.
All owners: @kitabisa/system-squad, @adeherysh, @sswastioyono18, @mananrangkuti

github: add auth db dev
  backend/deploy/action.yaml
Owners: @sswastioyono18

test: cache restore key
  frontend/tools/pnpm/action.yaml
Owners: @adeherysh

test: cache runner
  frontend/tools/setuptools/action.yaml
Owners: @adeherysh

test: cach
  frontend/build/action.yaml
  frontend/tools/setuptools/action.yaml
Owners: @adeherysh

taskfile: update actions db dev
  backend/deploy/action.yaml
  backend/deploy/db-dev/action.yaml
Owners: @sswastioyono18

taskfile: update actions db dev
  backend/deploy/db-dev/action.yaml
  infra/tools/taskfile/action.yaml
Owners: @sswastioyono18, @kitabisa/system-squad

taskfile: update taskfile create-db
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: update taskfile psql
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: update taskfile psql
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: update taskfile psql
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: get-app-name
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: set env APP_NAME
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: remove export pgpassword
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: remove export pgpassword
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: update taskfile psql
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: update taskfile psql
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: update taskfile postgres
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: fix taskfile postgres
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: tidy up taskfile
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: tidy up taskfile
  infra/tools/taskfile/action.yaml
Owners: @kitabisa/system-squad

test: cache pnpm
  frontend/tools/pnpm/action.yaml
Owners: @adeherysh

test: cache pnpm
  frontend/tools/pnpm/action.yaml
  frontend/tools/setuptools/action.yaml
Owners: @adeherysh

feat: test
  frontend/build/action.yaml
Owners: @adeherysh

feat: test
  frontend/tools/pnpm/action.yaml
Owners: @adeherysh

feat: test
  frontend/tools/pnpm/action.yaml
Owners: @adeherysh

feat: test
  frontend/tools/pnpm/action.yaml
Owners: @adeherysh

feat: test
  frontend/tools/pnpm/action.yaml
Owners: @adeherysh

feat: test
  frontend/tools/pnpm/action.yaml
Owners: @adeherysh

test: cache fe
  frontend/tools/pnpm/action.yaml
Owners: @adeherysh

test: cache fe
  frontend/tools/pnpm/action.yaml
Owners: @adeherysh

taskfile: update taskfile delete postgres
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: update taskfile and actions for db-dev
  backend/deploy/action.yaml
  infra/tools/taskfile/action.yaml
Owners: @sswastioyono18, @kitabisa/system-squad

taskfile: update actions destroy db dev
  backend/deploy/db-dev/action.yaml
  backend/destroy/action.yaml
Owners: @sswastioyono18

taskfile: fix typo action destroy
  backend/destroy/action.yaml
Owners: @sswastioyono18

taskfile: fix typo password db
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: add condition for destroy release
  backend/destroy/action.yaml
Owners: @sswastioyono18

taskfile: change uses version on destroy
  backend/destroy/action.yaml
Owners: @sswastioyono18

taskfile: create-db via taskfile (#167)
  backend/destroy/action.yaml
  infra/tools/taskfile/Taskfile.yaml
  infra/tools/taskfile/action.yaml
Owners: @sswastioyono18, @kitabisa/system-squad

feat: fix release
  backend/destroy/action.yaml
Owners: @sswastioyono18

feat: fix release (#169)
  backend/destroy/action.yaml
Owners: @sswastioyono18

CODEOWNERS:

* @kitabisa/system-squad
frontend @adeherysh
backend @sswastioyono18
sdet @mananrangkuti
