Repository kitabisa/composite-actions, changes with the owners that CODEOWNERS names for each.
All owners: @kitabisa/system-squad, @adeherysh, @sswastioyono18, @mananrangkuti

feat: add workfload identitiy on ansible (#412)
  infra/deploy/ansible/action.yaml
Owners: @kitabisa/system-squad

feat: debug
  infra/deploy/ansible/action.yaml
Owners: @kitabisa/system-squad

feat: debug
  infra/deploy/ansible/action.yaml
Owners: @kitabisa/system-squad

Feat/debug (#414)
  infra/deploy/ansible/action.yaml
Owners: @kitabisa/system-squad

feat: retrigger
  infra/deploy/ansible/action.yaml
Owners: @kitabisa/system-squad

feat: retrigger (#415)
  infra/deploy/ansible/action.yaml
Owners: @kitabisa/system-squad

feat: root config
  frontend/build/action.yaml
Owners: @adeherysh

fix: root config
  frontend/build/action.yaml
Owners: @adeherysh

fix: sync config to root repo
  frontend/build/action.yaml
  infra/tools/sync-root-config/action.yaml
  infra/tools/sync-root-config/main.sh
Owners: @adeherysh, @kitabisa/system-squad

fix: not found rsync
  infra/tools/sync-root-config/main.sh
Owners: @kitabisa/system-squad

fix: sign commit
  frontend/build/action.yaml
  infra/tools/sync-root-config/action.yaml
  infra/tools/sync-root-config/main.sh
Owners: @adeherysh, @kitabisa/system-squad

feat: sync root config (#417)
  frontend/build/action.yaml
  infra/tools/sync-root-config/action.yaml
Owners: @adeherysh, @kitabisa/system-squad

fix: commit msg on sync root config
  infra/tools/sync-root-config/action.yaml
Owners: @kitabisa/system-squad

fix: commit msg on sync root config (#419)
  infra/tools/sync-root-config/action.yaml
Owners: @kitabisa/system-squad

chore(taskfile): remove dev-related tasks (destroy-dev, DB create/delete tasks)
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

chore(taskfile): remove dev-related tasks (destroy-dev, DB create/delete tasks) (#421)
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

feat: disable sops
  infra/deploy/ansible/action.yaml
Owners: @kitabisa/system-squad

feat: disable sops (#423)
  infra/deploy/ansible/action.yaml
Owners: @kitabisa/system-squad

fix(sdet): make summary-id cache path backward-compatible
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

chore(sdet): upgrade actions to Node 24 runtime versions
  sdet/automation-test/action.yaml
  sdet/deploy/action.yaml
  sdet/tools/dispatch/action.yaml
  sdet/tools/golangci-lint/action.yaml
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

chore: sdet node24 action upgrade and update outfile (#425)
  sdet/automation-test/action.yaml
  sdet/deploy/action.yaml
  sdet/tools/dispatch/action.yaml
  sdet/tools/golangci-lint/action.yaml
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

fix(unit_test_v2): restore deleted new_code_coverage.go referenced by action.yaml
  backend/unit_test_v2/calc_new_code_coverage/new_code_coverage.go
Owners: @sswastioyono18

fix(unit_test_v2): restore deleted new_code_coverage.go referenced by action.yaml (#427)
  backend/unit_test_v2/calc_new_code_coverage/new_code_coverage.go
Owners: @sswastioyono18

docs: mark frontend/build and frontend/deploy composites as DEPRECATED
  frontend/build/action.yaml
  frontend/deploy/action.yaml
Owners: @adeherysh

ci: add params for analyze report
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

ci: add params for analyze report (#430)
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

CODEOWNERS:

* @kitabisa/system-squad
frontend @adeherysh
backend @sswastioyono18
sdet @mananrangkuti
