Repository kitabisa/composite-actions, changes with the owners that CODEOWNERS names for each.
All owners: @kitabisa/system-squad, @adeherysh, @sswastioyono18, @mananrangkuti

CODEOWNERS:

* @kitabisa/system-squad
frontend @adeherysh
backend @sswastioyono18
sdet @mananrangkuti

feat(infra): gcloud skip install
  infra/tools/gcloud/action.yaml
Owners: @kitabisa/system-squad

feat: test setup gcloud
  frontend/build/action.yaml
  infra/tools/gcloud/action.yaml
Owners: @adeherysh, @kitabisa/system-squad

test: cache pnpm with setup gcloud
  frontend/tools/pnpm/action.yaml
Owners: @adeherysh

fix(frontend): cache pnpm and used gcloud in runner
  frontend/build/action.yaml
  frontend/tools/setuptools/action.yaml
Owners: @adeherysh

feat: cache pnpm
  frontend/tools/pnpm/action.yaml
Owners: @adeherysh

fix: cache pnpm missing (#171)
  frontend/tools/pnpm/action.yaml
  infra/tools/gcloud/action.yaml
Owners: @adeherysh, @kitabisa/system-squad

feat(infra): update destroy db weekly
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

feat(infra): update destroy db weekly (#173)
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

feat: fix deploy be to reopen
  backend/deploy/action.yaml
Owners: @sswastioyono18

feat: fix deploy be to reopen (#175)
  backend/deploy/action.yaml
Owners: @sswastioyono18

fix: fix taskfile mysql
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

fix: undo change
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

fix: taskfile mysql dirty db issue
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

fix: fix taskfile mysql (#176)
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

test: manage env
  sdet/automation-test/action.yaml
  sdet/deploy/action.yaml
  sdet/tools/env/action.yaml
Owners: @mananrangkuti

chore: update command
  sdet/automation-test/action.yaml
  sdet/tools/env/action.yaml
Owners: @mananrangkuti

test: debug
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: debug
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: debug
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: debug
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: debug
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: command for debug
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: debug env key
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: command out steps for run
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: remove cache
  backend/cache/action.yaml
Owners: @sswastioyono18

test: testing remove cache
  backend/cache/action.yaml
Owners: @sswastioyono18

test: testing remove cache
  backend/cache/action.yaml
Owners: @sswastioyono18

test: testing remove cache
  backend/cache/action.yaml
Owners: @sswastioyono18

test: testing remove cache
  backend/cache/action.yaml
Owners: @sswastioyono18

feat: test
  backend/cache/action.yaml
Owners: @sswastioyono18

feat: test
  backend/cache/action.yaml
Owners: @sswastioyono18

feat: test
  backend/cache/action.yaml
Owners: @sswastioyono18

feat: test
  backend/cache/action.yaml
Owners: @sswastioyono18

feat: test
  backend/cache/action.yaml
Owners: @sswastioyono18

feat: test
  backend/cache/action.yaml
Owners: @sswastioyono18

feat: apply workload identity for iac
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

test: debug
  sdet/automation-test/action.yaml
  sdet/tools/env/action.yaml
Owners: @mananrangkuti

test: command steps for debug
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

test: debug
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

feat: fix taskfile mysql user privilege
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad
