Repository kitabisa/composite-actions, changes with the owners that CODEOWNERS names for each.
All owners: @kitabisa/system-squad, @adeherysh, @sswastioyono18, @mananrangkuti

feat: update input token
  sdet/automation-test/action.yaml
  sdet/build/README.md
  sdet/build/action.yaml
  sdet/pr-metrics/action.yaml
Owners: @mananrangkuti

fix: update env name
  sdet/build/action.yaml
Owners: @mananrangkuti

feat: update input token (#383)
  sdet/automation-test/action.yaml
  sdet/build/README.md
  sdet/build/action.yaml
  sdet/pr-metrics/action.yaml
Owners: @mananrangkuti

ci: actions for pr opened
  sdet/tools/pr-check/README.md
  sdet/tools/pr-check/action.yaml
Owners: @mananrangkuti

fix: rename variabel github token
  sdet/tools/pr-check/README.md
  sdet/tools/pr-check/action.yaml
Owners: @mananrangkuti

fix: indentation
  sdet/tools/pr-check/action.yaml
Owners: @mananrangkuti

fix: indentation
  sdet/tools/pr-check/action.yaml
Owners: @mananrangkuti

ci: check pr opened (#384)
  sdet/tools/pr-check/README.md
  sdet/tools/pr-check/action.yaml
Owners: @mananrangkuti

fix: add github issue keyword
  sdet/tools/pr-check/README.md
  sdet/tools/pr-check/action.yaml
Owners: @mananrangkuti

fix: readme
  sdet/tools/pr-check/README.md
Owners: @mananrangkuti

fix: add github issue keyword (#385)
  sdet/tools/pr-check/README.md
  sdet/tools/pr-check/action.yaml
Owners: @mananrangkuti

fix: add default input gh token in sdet build
  sdet/build/action.yaml
Owners: @mananrangkuti

fix: warn unexpected input pr check
  sdet/tools/pr-check/action.yaml
Owners: @mananrangkuti

fix: add default input gh token in sdet build (#386)
  sdet/build/action.yaml
  sdet/tools/pr-check/action.yaml
Owners: @mananrangkuti

fix: add step verified commit
  sdet/deploy/action.yaml
Owners: @mananrangkuti

fix: add step verified commit (#388)
  sdet/deploy/action.yaml
Owners: @mananrangkuti

fix: add github app token steps for handle verified commit
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
  sdet/deploy/README.md
  sdet/deploy/action.yaml
Owners: @mananrangkuti

fix: add github app token steps for handle verified commit (#390)
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
  sdet/deploy/README.md
  sdet/deploy/action.yaml
Owners: @mananrangkuti

fix: mock removed
  backend/unit_test/README.md
  backend/unit_test/action.yaml
Owners: @sswastioyono18

fix: tst
  backend/unit_test/action.yaml
Owners: @sswastioyono18

fix(test): filter out mock (#392)
  backend/unit_test/README.md
  backend/unit_test/action.yaml
Owners: @sswastioyono18

fix(frontend): ID-1322 temporary disable comment preview url
  frontend/deploy/action.yaml
Owners: @adeherysh

fix(frontend): ID-1322 temporary disable comment preview url (#394)
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: comment pr dev
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: add list internal domain
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: comment pr dev (#395)
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: exclude branch name release from pr check
  sdet/tools/pr-check/action.yaml
Owners: @mananrangkuti

fix: exclude branch name release from pr check (#398)
  sdet/tools/pr-check/action.yaml
Owners: @mananrangkuti

fix(pr-check): prevent bash syntax errors by passing pr strings through env
  sdet/tools/pr-check/action.yaml
Owners: @mananrangkuti

fix(pr-check): prevent bash syntax errors by passing pr strings through env (#399)
  sdet/tools/pr-check/action.yaml
Owners: @mananrangkuti

docs: mark backend/build and infra/tools/makefile composites as DEPRECATED
  backend/build/action.yaml
  infra/tools/makefile/action.yaml
Owners: @sswastioyono18, @kitabisa/system-squad

fix(terragrunt): migrate to terragrunt run command syntax
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

fix(terragrunt): migrate to terragrunt run command syntax (#403)
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

fix(terragrunt): update action to use run-all commands
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

fix(terragrunt): update action to use run-all commands (#405)
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

feat: deprecated vault
  infra/deploy/ansible/action.yaml
Owners: @kitabisa/system-squad

feat: deprecated vault (#407)
  infra/deploy/ansible/action.yaml
Owners: @kitabisa/system-squad

fix: sops enc/dec
  infra/deploy/ansible/action.yaml
Owners: @kitabisa/system-squad

fix: sops enc/dec (#410)
  infra/deploy/ansible/action.yaml
Owners: @kitabisa/system-squad

feat: add workfload identitiy on ansible
  infra/deploy/ansible/action.yaml
Owners: @kitabisa/system-squad

CODEOWNERS:

* @kitabisa/system-squad
frontend @adeherysh
backend @sswastioyono18
sdet @mananrangkuti
