Repository kitabisa/composite-actions, changes with the owners that CODEOWNERS names for each.
All owners: @kitabisa/system-squad, @adeherysh, @sswastioyono18, @mananrangkuti

fix(workflow): forget to set id on step release please
  .github/workflows/release-please-main.yml
Owners: @kitabisa/system-squad

fix(workflow): forget to set id on step release please (#133)
  .github/workflows/release-please-main.yml
Owners: @kitabisa/system-squad

fix(workflow): Set release please manifest
  .release-please-manifest.json
Owners: @kitabisa/system-squad

fix(workflow): Set release please manifest (#135)
  .release-please-manifest.json
Owners: @kitabisa/system-squad

feat: update release
  .pre-commit-config.yaml
  .release-please-manifest.json
Owners: @kitabisa/system-squad

fix: testing only
  CHANGELOG.md
Owners: @kitabisa/system-squad

fix: testing create
  .release-please-manifest.json
Owners: @kitabisa/system-squad

fix: testing create
  .release-please-manifest.json
Owners: @kitabisa/system-squad

chore: release 2.0.0
  .release-please-manifest.json
Owners: @kitabisa/system-squad

fix(workflow): disable pre-commit check for release-please
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
Owners: @kitabisa/system-squad

fix(workflow): disable pre-commit check for release-please (#143)
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
Owners: @kitabisa/system-squad

fix: remove manifest release please
  .release-please-manifest.json
Owners: @kitabisa/system-squad

fix: remove manifest release please (#147)
  .release-please-manifest.json
Owners: @kitabisa/system-squad

chore: rollback manifest
  .release-please-manifest.json
Owners: @kitabisa/system-squad

chore: rollback manifest (#149)
  .release-please-manifest.json
Owners: @kitabisa/system-squad

feat: naikin version donk
  .pre-commit-config.yaml
  .release-please-manifest.json
Owners: @kitabisa/system-squad

feat: version txt
  version.txt
Owners: @kitabisa/system-squad

chore: release 2.0.1
  release-please-config.json
  version.txt
Owners: @kitabisa/system-squad

feat: enable pre-commit check
  .pre-commit-config.yaml
Owners: @kitabisa/system-squad

feat: enable pre-commit check (#158)
  .pre-commit-config.yaml
Owners: @kitabisa/system-squad

fix(workflow): set extension yaml
  .github/workflows/release-please-main.yaml
Owners: @kitabisa/system-squad

fix(workflow): set extension yaml (#160)
  .github/workflows/release-please-main.yaml
Owners: @kitabisa/system-squad

feat(workflow): Add type for pull request
  .github/workflows/pre-commit.yaml
Owners: @kitabisa/system-squad

feat(workflow): Add type for pull request (#162)
  .github/workflows/pre-commit.yaml
Owners: @kitabisa/system-squad

test(infra): Workfload identity provider
  infra/tools/gcloud/action.yaml
Owners: @kitabisa/system-squad

test: add sa
  infra/tools/gcloud/action.yaml
Owners: @kitabisa/system-squad

feat(infra): Add workflow identity in composite
  infra/tools/gcloud/action.yaml
Owners: @kitabisa/system-squad

feat: update composite input
  infra/tools/gcloud/action.yaml
Owners: @kitabisa/system-squad

feat: add gcloud auth workflow identity
  infra/tools/gcloud/action.yaml
Owners: @kitabisa/system-squad

feat: add workflow identity
  .github/workflows/pre-commit.yaml
Owners: @kitabisa/system-squad

feat: gcloud auth using workload identity (#163)
  .github/workflows/pre-commit.yaml
  infra/tools/gcloud/action.yaml
Owners: @kitabisa/system-squad

feat(backend): Takeout gettext from setuptools
  backend/tools/setuptools/action.yaml
Owners: @sswastioyono18

feat(backend): Takeout gettext from setuptools (#165)
  backend/tools/setuptools/action.yaml
Owners: @sswastioyono18

taskfile: create-db via taskfile
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

feat: add script delete per single db and all db (mysql and postgresql)
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

fix precommit linter
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

taskfile: update action taskfile db
  backend/deploy/action.yaml
  infra/tools/taskfile/action.yaml
Owners: @sswastioyono18, @kitabisa/system-squad

taskfile: test action taskfile db
  backend/deploy/action.yaml
Owners: @sswastioyono18

taskfile: fix action taskfile db
  backend/deploy/action.yaml
Owners: @sswastioyono18

feat(infra): fix action db-dev
  backend/deploy/action.yaml
  infra/tools/taskfile/Taskfile.yaml
Owners: @sswastioyono18, @kitabisa/system-squad

CODEOWNERS:

* @kitabisa/system-squad
frontend @adeherysh
backend @sswastioyono18
sdet @mananrangkuti
