Repository kitabisa/composite-actions, changes with the owners that CODEOWNERS names for each.
All owners: @kitabisa/system-squad, @adeherysh, @sswastioyono18, @mananrangkuti

fix: add input base branch
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

fix: add input base branch (#356)
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

✨ (Taskfile.yaml): add task to pause True KEDA ScaledObject for better resource management
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

✨ (Taskfile.yaml): add FILTER and LIST_FILE environment variables to enhance task flexibility and improve output handling
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

✨ (Taskfile.yaml): rename pause-true-scaledobject task to pause-scaledobject and add input handling for pause state to enhance flexibility
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

♻️ (Taskfile.yaml): uncomment kubectl commands to enable scaling object annotations for pause and unpause functionality
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

Feat/id 824 add pause scaledobject (#358)
  infra/tools/taskfile/Taskfile.yaml
Owners: @kitabisa/system-squad

feat: update helmfile version
  infra/unit_test/helmfiles/action.yaml
Owners: @kitabisa/system-squad

feat: update test-unit helmfile
  infra/unit_test/helmfiles/action.yaml
Owners: @kitabisa/system-squad

feat(infra): ID-888 add dockerhub auth
  backend/deploy/action.yaml
  infra/tools/dockerhub-credential/action.yaml
Owners: @sswastioyono18, @kitabisa/system-squad

feat(infra): ID-888 add dockerhub auth (#359)
  backend/deploy/action.yaml
  infra/tools/dockerhub-credential/action.yaml
Owners: @sswastioyono18, @kitabisa/system-squad

feat(frontend): add dockerhub auth
  frontend/deploy/action.yaml
Owners: @adeherysh

feat(frontend): add dockerhub auth (#361)
  frontend/deploy/action.yaml
Owners: @adeherysh

fix(ci): unit test v2
  backend/unit_test_v2/action.yaml
Owners: @sswastioyono18

fix: quiet unit test for less stderr log
  backend/unit_test_v2/action.yaml
Owners: @sswastioyono18

ci: remove unit test go-test-action
  backend/unit_test/action.yaml
Owners: @sswastioyono18

ci: fix using go test short
  backend/unit_test/action.yaml
  backend/unit_test_v2/action.yaml
Owners: @sswastioyono18

feat: disable cred json
  infra/tools/gcloud/action.yaml
Owners: @kitabisa/system-squad

feat: disable cred json (#367)
  infra/tools/gcloud/action.yaml
Owners: @kitabisa/system-squad

fix: set default value input
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

feat: upgrade google auth action
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

feat: add gcloud export input composite
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

feat: update input
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

fix: take out rancher job from deploy backend
  backend/deploy/action.yaml
Owners: @sswastioyono18

fix: take out rancher job from deploy frontend
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: remove rancher inputs on backend deploy
  backend/deploy/action.yaml
Owners: @sswastioyono18

feat: remove rancher from composite
  backend/deploy/README.md
  frontend/deploy/README.md
  frontend/deploy/action.yaml
  infra/tools/rancher/README.md
  infra/tools/rancher/action.yaml
Owners: @sswastioyono18, @adeherysh, @kitabisa/system-squad

feat: remove rancher from composite (#374)
  backend/deploy/README.md
  frontend/deploy/README.md
  frontend/deploy/action.yaml
  infra/tools/rancher/README.md
  infra/tools/rancher/action.yaml
Owners: @sswastioyono18, @adeherysh, @kitabisa/system-squad

feat: make DockerHub credentials optional and conditionally set up.
  backend/deploy/action.yaml
Owners: @sswastioyono18

feat: Add default empty string for docker username and password inputs.
  backend/deploy/action.yaml
Owners: @sswastioyono18

feat: make DockerHub credentials optional and conditionally set up. (#375)
  backend/deploy/action.yaml
Owners: @sswastioyono18

fix: disable PR comment script frontend
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: disable PR comment script frontend (#376)
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: enable PR comment frontend
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: enable PR comment frontend (#378)
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: update build
  sdet/automation-test/action.yaml
  sdet/build/README.md
  sdet/build/action.yaml
  sdet/tools/bun/action.yaml
  sdet/tools/setup-tools/action.yaml
Owners: @mananrangkuti

feat: update build (#380)
  sdet/automation-test/action.yaml
  sdet/build/README.md
  sdet/build/action.yaml
  sdet/tools/bun/action.yaml
  sdet/tools/setup-tools/action.yaml
Owners: @mananrangkuti

feat: update automation test using build
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
  sdet/build/README.md
  sdet/build/action.yaml
Owners: @mananrangkuti

feat: update build
  sdet/automation-test/action.yaml
  sdet/build/README.md
  sdet/build/action.yaml
  sdet/pr-metrics/action.yaml
Owners: @mananrangkuti

feat: update automation test using build (#382)
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
  sdet/build/README.md
  sdet/build/action.yaml
  sdet/pr-metrics/action.yaml
Owners: @mananrangkuti

CODEOWNERS:

* @kitabisa/system-squad
frontend @adeherysh
backend @sswastioyono18
sdet @mananrangkuti
