Repository kitabisa/composite-actions, changes with the owners that CODEOWNERS names for each.
All owners: @kitabisa/system-squad, @adeherysh, @sswastioyono18, @mananrangkuti

feat: add release event on terragrunt apply (#202)
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

fix: handle branch gh when trigger
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

fix: handle branch gh when trigger (#204)
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

fix: command base on merge to master
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

fix: command base on merge to master (#206)
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

ci: modify target branch
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

ci: fixing typo
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

fix: dispatch event pr (#208)
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

fix(cache): removed cache deletion
  backend/cache/action.yaml
Owners: @sswastioyono18

ci(cache): dynamic go mod version
  backend/cache/action.yaml
Owners: @sswastioyono18

ci: dynamic go version based on go.mod
  backend/build/action.yaml
  backend/coverage/action.yaml
  backend/unit_test/action.yaml
Owners: @sswastioyono18

feat: add auth dockerhub oci
  infra/unit_test/helmfiles/action.yaml
Owners: @kitabisa/system-squad

lint: fix linter check
  infra/unit_test/helmfiles/action.yaml
Owners: @kitabisa/system-squad

feat: add auth dockerhub oci (#211)
  infra/unit_test/helmfiles/action.yaml
Owners: @kitabisa/system-squad

ci(coverage): update description
  backend/coverage/action.yaml
Owners: @sswastioyono18

feat(coverage): updated description
  backend/coverage/action.yaml
Owners: @sswastioyono18

feat: change get cred gke to v2
  infra/tools/gke-credential/action.yaml
Owners: @kitabisa/system-squad

fix: update composite unit-test
  infra/tools/gke-credential/action.yaml
  infra/unit_test/charts/action.yaml
Owners: @kitabisa/system-squad

ci: modify target branch
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

fix: remove delay
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

fix: add newline at end of file gke-credentials
  infra/tools/gke-credential/action.yaml
Owners: @kitabisa/system-squad

fix: remove delay (#215)
  infra/tools/gke-credential/action.yaml
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @kitabisa/system-squad, @mananrangkuti

fix: handle env variables
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: handle env variables (#217)
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: remove unused code
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: remove env params
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

ci(coverage): disable upload to artifact
  backend/coverage/action.yaml
Owners: @sswastioyono18

chore: added config release please
  release-please-config.json
Owners: @kitabisa/system-squad

ci: update release please main
  .github/workflows/release-please-main.yaml
Owners: @kitabisa/system-squad

ci: change runner to ubuntu
  .github/workflows/release-please-main.yaml
Owners: @kitabisa/system-squad

ci: removed token
  .github/workflows/release-please-main.yaml
Owners: @kitabisa/system-squad

feat: change readme
  README.md
Owners: @kitabisa/system-squad

feat: change readme (#220)
  README.md
Owners: @kitabisa/system-squad

fix: rollback github token
  .github/workflows/release-please-main.yaml
Owners: @kitabisa/system-squad

fix: rollback github token (#222)
  .github/workflows/release-please-main.yaml
Owners: @kitabisa/system-squad

fix: major tagging
  .github/workflows/release-please-main.yaml
Owners: @kitabisa/system-squad

fix: major tagging
  .github/workflows/release-please-main.yaml
Owners: @kitabisa/system-squad

fix: major tagging (#223)
  .github/workflows/release-please-main.yaml
Owners: @kitabisa/system-squad

feat: add github source env
  infra/tools/makefile/action.yaml
Owners: @kitabisa/system-squad

feat: add github source env (#225)
  infra/tools/makefile/action.yaml
Owners: @kitabisa/system-squad

CODEOWNERS:

* @kitabisa/system-squad
frontend @adeherysh
backend @sswastioyono18
sdet @mananrangkuti
