Repository kitabisa/composite-actions, changes with the owners that CODEOWNERS names for each.
All owners: @kitabisa/system-squad, @adeherysh, @sswastioyono18, @mananrangkuti

CODEOWNERS:

* @kitabisa/system-squad
frontend @adeherysh
backend @sswastioyono18
sdet @mananrangkuti

ci: backend cache (#282)
  backend/build/action.yaml
  backend/cache/action.yaml
  backend/coverage/action.yaml
  backend/unit_test/action.yaml
Owners: @sswastioyono18

ci: composite cache
  backend/cache/action.yaml
Owners: @sswastioyono18

ci: cache
  backend/build/action.yaml
  backend/cache/action.yaml
  backend/coverage/action.yaml
  backend/unit_test/action.yaml
Owners: @sswastioyono18

ci: restore key
  backend/build/action.yaml
  backend/cache/action.yaml
  backend/coverage/action.yaml
  backend/unit_test/action.yaml
Owners: @sswastioyono18

fix: format cache
  backend/build/action.yaml
  backend/cache/action.yaml
  backend/coverage/action.yaml
  backend/unit_test/action.yaml
Owners: @sswastioyono18

feat: updated ci cache format (#283)
  backend/build/action.yaml
  backend/cache/action.yaml
  backend/coverage/action.yaml
  backend/unit_test/action.yaml
Owners: @sswastioyono18

ci(test): removed on error
  backend/unit_test/action.yaml
Owners: @sswastioyono18

fix: comment url fr multiple hosts
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: comment url conditional publish
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: comment url conditional for multiple host with private and public domain
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: comment url conditional for multiple host public domain
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: comment url conditional for multiple host public domain
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: typo private domain
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: comment url conditional for multiple host public domain
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: set conditions multiple host dev public domain
  frontend/deploy/action.yaml
Owners: @adeherysh

add flag send summary comment
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: set conditions multiple host dev public domain
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: set conditions multiple host dev public domain
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: set conditions multiple host dev public domain
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: remove unused variable
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: fix conditional for multiple host
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: fix conditional for multiple host
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: fix steps on dev workflow
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: fix typo on conditional step
  frontend/deploy/action.yaml
Owners: @adeherysh

Fix/preview url v2 (#286)
  frontend/deploy/action.yaml
Owners: @adeherysh

feat(infra): id-250 Add dockerfile composite
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

feat(infra): id-250 Update composite dockerfile infra
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

fix(infra): id-250 Disabled input gcloud
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

test: debug issue failed push
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

test: debug issue failed push
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

feat: trigger release tag for frontend update
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: trigger release tag for frontend update (#287)
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: deployment frontend
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: add working directory
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: deployment frontend (#289)
  frontend/deploy/action.yaml
Owners: @adeherysh

chore: add step comment to pr SDET-1488
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

feat(build): composite cache
  backend/build/action.yaml
Owners: @sswastioyono18

feat: cache_hit
  backend/build/action.yaml
Owners: @sswastioyono18

feat: enable cache artifact registry
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

feat: add composite dockerfiles (#291)
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad
