Repository kitabisa/composite-actions, changes with the owners that CODEOWNERS names for each.
All owners: @kitabisa/system-squad, @adeherysh, @sswastioyono18, @mananrangkuti

CODEOWNERS:

* @kitabisa/system-squad
frontend @adeherysh
backend @sswastioyono18
sdet @mananrangkuti

fix: trim-trailing-whitespace
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

fix: trim-trailing-whitespace (#293)
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

fix: conditional comment preview
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: conditional comment preview (#294)
  frontend/deploy/action.yaml
Owners: @adeherysh

add flag send summary comment
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: add flag to send report sdet SDET-1267
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

chore: add step comment to pr SDET-1488
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

feat: specifiec cache dst
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

feat: specifiec cache dst (#296)
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

fix: remove multiple empty line SDET-1488
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: move steps to automation SDET-1488
  sdet/automation-test/action.yaml
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

fix: move to automation action SDET-1488
  sdet/automation-test/action.yaml
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

feat: add input build args
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

fix: gh token SDET-1488
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: update SDET-1488
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: update SDET-1488
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: update SDET-1488
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: update SDET-1488
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: add flag SDET-1488
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: update SDET-1488
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: update SDET-1488
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: debug SDET-1488
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: debug SDET-1488
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: debug SDET-1488
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

feat: update oci label
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

feat: update oci label
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

feat: update convention label oci (#298)
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

chore: revert automation SDET-1488
  sdet/automation-test/action.yaml
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

chore: add sleep if pr release not exist SDET-1488
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

chore: send result to pr release SDET-1488
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

fix: whitespace
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

fix: exclude author kitabisaengineer SDET-1488
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

chore: send result to pr release SDET-1488 (#267)
  infra/build/dockerfile/action.yaml
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @kitabisa/system-squad, @mananrangkuti

fix: update field repo SDET-1488
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: update field repo SDET-1488 (#301)
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

feat: add build args composite
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

feat: add build args composite (#303)
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

fix: whitespace
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

fix: whitespace (#304)
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

feat: add secrets build push docker
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad
