Repository kitabisa/composite-actions, changes with the owners that CODEOWNERS names for each.
All owners: @kitabisa/system-squad, @adeherysh, @sswastioyono18, @mananrangkuti

feat: add git source make source
  infra/tools/makefile/action.yaml
Owners: @kitabisa/system-squad

feat: add git source make source (#227)
  infra/tools/makefile/action.yaml
Owners: @kitabisa/system-squad

feat: change env values
  infra/tools/makefile/action.yaml
Owners: @kitabisa/system-squad

feat: change env values (#229)
  infra/tools/makefile/action.yaml
Owners: @kitabisa/system-squad

ci: test re-release tag v2
  .github/workflows/release-please-main.yaml
Owners: @kitabisa/system-squad

ci: fix commit message
  .github/workflows/release-please-main.yaml
Owners: @kitabisa/system-squad

ci: test re-release
  .github/workflows/release-please-main.yaml
Owners: @kitabisa/system-squad

feat: change variable
  infra/tools/rancher/action.yaml
Owners: @kitabisa/system-squad

feat: force run rancher ns mover
  infra/tools/rancher/action.yaml
Owners: @kitabisa/system-squad

feat: add condition
  infra/tools/rancher/action.yaml
Owners: @kitabisa/system-squad

feat: add condition
  infra/tools/rancher/action.yaml
Owners: @kitabisa/system-squad

feat: add condition
  infra/tools/rancher/action.yaml
Owners: @kitabisa/system-squad

feat: add condition
  infra/tools/rancher/action.yaml
Owners: @kitabisa/system-squad

feat: force run rancher ns mover (#235)
  infra/tools/rancher/action.yaml
Owners: @kitabisa/system-squad

feat: add skip tofu validation
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

feat: skip validation
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

feat: skip validation
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

feat: skip validation
  infra/deploy/terragrunt/action.yaml
Owners: @kitabisa/system-squad

feat: add ghcr credential
  infra/tools/ghcr-credential/README.md
  infra/tools/ghcr-credential/action.yaml
Owners: @kitabisa/system-squad

fix linter
  backend/deploy/action.yaml
  infra/tools/ghcr-credential/README.md
  infra/tools/ghcr-credential/action.yaml
Owners: @sswastioyono18, @kitabisa/system-squad

remove setup ghcr from module
  backend/deploy/action.yaml
Owners: @sswastioyono18

feat: add ghcr credential (#240)
  infra/tools/ghcr-credential/README.md
  infra/tools/ghcr-credential/action.yaml
Owners: @kitabisa/system-squad

add composite module gchr to deploy/ and infra/
  backend/deploy/action.yaml
  infra/deploy/helmfiles/action.yaml
Owners: @sswastioyono18, @kitabisa/system-squad

add composite module gchr to deploy/ and infra/ (#242)
  backend/deploy/action.yaml
  infra/deploy/helmfiles/action.yaml
Owners: @sswastioyono18, @kitabisa/system-squad

chore: retrigger release please add ghcr
  backend/deploy/action.yaml
  infra/deploy/helmfiles/action.yaml
Owners: @sswastioyono18, @kitabisa/system-squad

chore: retrigger release please add ghcr (#244)
  backend/deploy/action.yaml
  infra/deploy/helmfiles/action.yaml
Owners: @sswastioyono18, @kitabisa/system-squad

update
  infra/tools/ghcr-credential/action.yaml
Owners: @kitabisa/system-squad

fix linter
  infra/tools/ghcr-credential/action.yaml
Owners: @kitabisa/system-squad

update (#246)
  infra/tools/ghcr-credential/action.yaml
Owners: @kitabisa/system-squad

feat: add missing parameter and remove unused
  backend/deploy/action.yaml
  infra/deploy/helmfiles/action.yaml
Owners: @sswastioyono18, @kitabisa/system-squad

feat: add missing parameter and remove unused (#249)
  backend/deploy/action.yaml
  infra/deploy/helmfiles/action.yaml
Owners: @sswastioyono18, @kitabisa/system-squad

feat: enable push coverage master
  backend/coverage/action.yaml
Owners: @sswastioyono18

fix: remove unused code
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: remove env params
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: update readme
  sdet/automation-test/README.md
Owners: @mananrangkuti

fix: remove unused code (#253)
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

feat: update frontend comment actions
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: fix frontend comment actions
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: fix frontend comment actions
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: fix frontend comment actions
  frontend/deploy/action.yaml
Owners: @adeherysh

CODEOWNERS:

* @kitabisa/system-squad
frontend @adeherysh
backend @sswastioyono18
sdet @mananrangkuti
