Repository kitabisa/composite-actions, changes with the owners that CODEOWNERS names for each.
All owners: @kitabisa/system-squad, @adeherysh, @sswastioyono18, @mananrangkuti

feat: fix frontend comment actions
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: fix frontend comment actions
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: fix frontend comment actions
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: fix frontend comment actions
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: fix frontend comment actions
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: fix frontend comment actions
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: fix frontend comment actions
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: fix frontend comment actions
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: fix frontend comment actions
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: tidy up comment in frontend
  frontend/deploy/action.yaml
Owners: @adeherysh

ci(backend): build should use action cache
  backend/build/action.yaml
Owners: @sswastioyono18

feat: tidy up inputs frontend deploy
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: update frontend comment actions (#255)
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: fix comment action on PR
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: fix comment action on PR (#257)
  frontend/deploy/action.yaml
Owners: @adeherysh

chore: handle send summary report to dashboard
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

chore: handle send summary report to dashboard (#259)
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

ci: add cache summary
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: desc cache
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

ci: add cache steps for summary (#261)
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix(backend): ut continue on error on upload
  backend/unit_test/action.yaml
Owners: @sswastioyono18

chore: add input custom send slack report flag SDET-1267
  sdet/automation-test/action.yaml
  sdet/tools/dispatch/action.yaml
Owners: @mananrangkuti

fix: custom command SDET-1267
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

chore: remove unused inputs SDET-1267
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

chore: update report history to master SDET-1267
  sdet/deploy/action.yaml
Owners: @mananrangkuti

test: update SDET-1267
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: revert to v2 SDET-1267
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

chore: update SDET-1267
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

docs: update readme automation SDET-1267
  sdet/automation-test/README.md
Owners: @mananrangkuti

chore: automation test mobile SDET-1267 (#264)
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
  sdet/deploy/action.yaml
  sdet/tools/dispatch/action.yaml
Owners: @mananrangkuti

fix: restore cache if rerun SDET-1267
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: restore cache if rerun SDET-1267 (#265)
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: add flag to send report sdet SDET-1267
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

feat: update preview-url chart v2
  frontend/deploy/action.yaml
Owners: @adeherysh

feat(infra): update condition preview url
  frontend/deploy/action.yaml
Owners: @adeherysh

feat(infra): update preview url condition
  frontend/deploy/action.yaml
Owners: @adeherysh

feat(infra): update preview url condition
  frontend/deploy/action.yaml
Owners: @adeherysh

feat(infra): update preview url condition
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: fix condition preview-url chart v2
  frontend/deploy/action.yaml
Owners: @adeherysh

feat: test preview-url list
  frontend/deploy/action.yaml
Owners: @adeherysh

CODEOWNERS:

* @kitabisa/system-squad
frontend @adeherysh
backend @sswastioyono18
sdet @mananrangkuti
