Repository kitabisa/composite-actions, changes with the owners that CODEOWNERS names for each.
All owners: @kitabisa/system-squad, @adeherysh, @sswastioyono18, @mananrangkuti

CODEOWNERS:

* @kitabisa/system-squad
frontend @adeherysh
backend @sswastioyono18
sdet @mananrangkuti

feat: update unit helm secret
  infra/unit_test/helmfiles/action.yaml
Owners: @kitabisa/system-squad

feat: update unit helm secret
  infra/unit_test/helmfiles/action.yaml
Owners: @kitabisa/system-squad

feat: update setup helmon unit-test
  infra/unit_test/helmfiles/action.yaml
Owners: @kitabisa/system-squad

feat: update setup helm and helmfile
  infra/unit_test/helmfiles/action.yaml
Owners: @kitabisa/system-squad

chore: add send result to testiny and custom command post run
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

fix: delete testrails code
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

chore: rename flag for testiny
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

chore: add send result to testiny and custom command post run (#330)
  sdet/automation-test/README.md
  sdet/automation-test/action.yaml
Owners: @mananrangkuti

chore: add input target repo for trigger automation when deploy
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

ci: add input target repo for trigger automation when deploy
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

fix: remove whitespace
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

ci: add input target repo for trigger automation when deploy (#333)
  sdet/trigger-automation-test-when-deploy/action.yaml
Owners: @mananrangkuti

fix: bump cloudflare pages action to v2
  frontend/deploy/cfpages/action.yaml
Owners: @adeherysh

fix: bump cloudflare pages action to v2 (#335)
  frontend/deploy/cfpages/action.yaml
Owners: @adeherysh

fix: remove zone name for cloudflare pages action
  frontend/deploy/cfpages/action.yaml
Owners: @adeherysh

fix: comment pr when hosts separator with space
  frontend/deploy/action.yaml
Owners: @adeherysh

fix: update comment deployment pr cf pages
  frontend/deploy/cfpages/action.yaml
Owners: @adeherysh

fix: log deployment url
  frontend/deploy/cfpages/action.yaml
Owners: @adeherysh

feat: add optional step for upload static build
  frontend/build/action.yaml
  frontend/deploy/cfpages/action.yaml
Owners: @adeherysh

feat: add optional step for upload static build (#340)
  frontend/build/action.yaml
  frontend/deploy/cfpages/action.yaml
Owners: @adeherysh

fix: working directory
  frontend/build/action.yaml
  frontend/deploy/cfpages/action.yaml
Owners: @adeherysh

fix: working directory (#342)
  frontend/build/action.yaml
  frontend/deploy/cfpages/action.yaml
Owners: @adeherysh

fix: normalize gh artifact path
  frontend/build/action.yaml
  frontend/deploy/cfpages/action.yaml
Owners: @adeherysh

fix: property is missing shell
  frontend/build/action.yaml
  frontend/deploy/cfpages/action.yaml
Owners: @adeherysh

fix: npm token cfpages deploy
  frontend/deploy/cfpages/action.yaml
Owners: @adeherysh

fix: npm token cfpages deploy (#346)
  frontend/deploy/cfpages/action.yaml
Owners: @adeherysh

fix: include hidden file when upload artifact
  frontend/build/action.yaml
Owners: @adeherysh

feat: post pull request
  sdet/post-pr/action.yaml
Owners: @mananrangkuti

fix: add missing inputs
  sdet/post-pr/action.yaml
Owners: @mananrangkuti

feat: post pr
  sdet/post-pr/action.yaml
Owners: @mananrangkuti

feat: post pr
  sdet/post-pr/action.yaml
Owners: @mananrangkuti

feat: post pr SDET-1662 (#349)
  sdet/post-pr/action.yaml
Owners: @mananrangkuti

fix: ignore ssl cert and load dotenvx
  sdet/post-pr/action.yaml
Owners: @mananrangkuti

fix: add ktbs header
  sdet/post-pr/action.yaml
Owners: @mananrangkuti

fix: rename folder
  sdet/pr-metrics/action.yaml
Owners: @mananrangkuti

fix: ignore ssl cert and load dotenvx (#350)
  sdet/pr-metrics/action.yaml
Owners: @mananrangkuti

feat: download cert
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

feat: download cert (#352)
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

feat: move checkout in workflow
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad

feat: move checkout in workflow (#354)
  infra/build/dockerfile/action.yaml
Owners: @kitabisa/system-squad
